@keyframes test {
    from {background-color: red;}
    to {background-color: rebeccapurple;}
}
.testt {
    background-color: aqua;
    animation-name: test;
    animation-duration: 3s;
}
@keyframes ttl1 {
    0% { transform: scaleY(0); }
    25% { transform: scaleY(1); }
}
.title1 {
    animation-name: ttl1;
    animation-duration: 2s;
}
@keyframes ttl2 {
    0% { left: -150%; }
    10% { left: -150%; }
    75% { left: 0%; }
}
.title2 {
    position: relative;
    left: 0;
    animation-name: ttl2;
    animation-duration: 2s;
}
@keyframes ttl3 {
    0% { left: -150%; }
    20% { left: -150%; }
    85% { left: 0%; }
}
.title3 {
    position: relative;
    left: 0;
    animation-name: ttl3;
    animation-duration: 2s;
}
@keyframes ttl4 {
    0% { left: -150%; }
    30% { left: -150%; }
}
.title4 {
    position: relative;
    left: 0;
    animation-name: ttl4;
    animation-duration: 2s;
}