* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 14px;
    scroll-behavior: smooth;
}
body {
    background-color: #0D1516;
    margin: 0;
}
::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-track
{
    background: #050505;
}

::-webkit-scrollbar-thumb
{
    background: #F0F0F0;
}

/* Nav bar */
header {
    position: relative;
    background-color: #050505;
    border-bottom: 1px solid #F0F0F0;
    height: 55px;
    overflow: hidden;
}
header h2 {
    position: absolute;
    left: 20px;
    top: 10px;
}
header ul {
    list-style-type: none;
    margin: 70px 0 0 0;
    overflow: hidden;
}
header ul li {
    padding: 5px;
}
header ul li a {
    text-decoration: none;
}
header ul li a:hover {
    text-decoration: underline;
    text-decoration-color: #F0F0F0;
    text-decoration-thickness: 2px;
}
header button {
    position: absolute;
    right: 20px;
    top: 5px;
    border: none;
    background-color: #050505;
}
header button:hover {
    background-color: #050505;
    color: #F0F0F0;
}
header button:active {
    color: #F0F0F0;
}

/* Top panel */
.topPanel {
    background-color: #0D1516;
    background-image: url(Resources/Images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.topInfoContainer {
    position: relative;
    width: fit-content;
    display: block;
    margin: auto;
    padding: 0 20px;
    top: 30%;
    overflow: hidden;
}

/* Content panel */
.panel {
    position: relative;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 50px 20px;
}
.panel .wrapper {
    margin: 50px 0 0 0;
}

/* Skills */
.skills {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.skills .skill {
    padding: 0 10px;
}
.skills div div {
    margin-bottom: 20px;
}
.skills div div div {
    border: 2px solid #F0F0F0;
    margin-top: 10px;
}
.skills div div div div {
    height: 15px;
    margin: 3px;
    border: none;
}

/* Projects */
.projects {
    width: 100%;
}
.projects div {
    padding: 10px 0;
    overflow: hidden;
    margin-bottom: 80px;
}
.projects div div {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
}
.projects div div img {
    display: block;
    width: 100%;
    height: 100%;
}
.projects div article .projectPage{
    float: right;
}
.projects div article ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.projects div article ul li {
    float: left;
    margin-right: 10px;
}

/* Contacts */
.contacts {
    width: 100%;
}
.contacts div {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 10px;
}
.contacts div label {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.contacts div a {
    display: block;
    position: relative;
    float: right;
    right: 0;
}
.contacts div a button span{
    display: none;
}

/* Footer */
footer {
    background-color: #050505;
    border-top: 1px solid #F0F0F0;
    padding: 10px 50px;
}

/* Screen response */
@media (min-width: 768px) {
    header {
        height: 75px;
    }
    header h2 {
        left: 50px;
    }
    header ul {
        margin: 70px 0 0 30px;
    }
    header button {
        right: 50px;
    }
    .panel {
        padding: 50px;
    }
    .skills .skill {
        width: 50%;
        float: left;
        padding: 0 10px;
    }
    .projects div div {
        width: 40%;
    }
    .contacts div a button span{
        display: contents;
    }
}
@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }
    header {
        height: auto;
    }
    header h2 {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    header ul {
        list-style-type: none;
        margin: 0 0 0 200px;
        overflow: hidden;
    }
    header ul li {
        float: left;
        padding: 15px;
    }
    header button {
        visibility: hidden;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .projects div {
        margin-bottom: 20px;
    }
    .projects div div {
        float: left;
        width: 30%;
        margin: 0;
    }
    .projects div article {
        float: left;
        width: 70%;
        padding-left: 10px;
    }
    .projects div article .projectPage{
        float: right;
    }
}