* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 14px;
    scroll-behavior: smooth;
}
body {
    background-color: #0D1516;
    margin: 0;
}
::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-track
{
    background: #050505;
}

::-webkit-scrollbar-thumb
{
    background: #F0F0F0;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Nav bar */
header {
    position: relative;
    background-color: #050505;
    border-bottom: 1px solid #F0F0F0;
}
header h2 {
    position: absolute;
    left: 50px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
header ul {
    list-style-type: none;
    margin: 0 0 0 200px;
    overflow: hidden;
}
header ul li {
    float: left;
    padding: 15px;
}
header ul li a {
    text-decoration: none;
}
.navbar button {
    float: inline-end;
    position: relative;
    right: 0;
    margin: 10px;
}

/* Top panel */
.topPanel {
    background-color: #0D1516;
    background-image: url(Resources/Images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.topInfoContainer {
    position: relative;
    width: fit-content;
    margin: auto;
    top: 30%;
}
.panel {
    position: relative;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 50px;
}
.panel .wrapper {
    margin: 50px 0 0 0;
}

/* Skills */
.skills {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.skills div div {
    margin-bottom: 20px;
}
.skills div div div {
    border: 2px solid #F0F0F0;
    margin-top: 10px;
}
.skills div div div div {
    height: 15px;
    margin: 3px;
    border: none;
}
.skills1, .skills2 {
    width: 50%;
    float: left;
    padding: 0 10px;
}

/* Projects */
.projects {
    width: 100%;
}
.projects div {
    padding: 10px 0;
    overflow: hidden;
    margin-bottom: 20px;
}
.projects div div {
    float: left;
    width: 30%;
    padding: 5px;
}
.projects div div img {
    display: block;
    width: 100%;
    height: 100%;
}
.projects div article {
    float: left;
    width: 70%;
    padding-left: 10px;
}
.projects div article .projectPage{
    float: right;
}
.projects div article ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.projects div article ul li {
    float: left;
    margin-right: 10px;
}

/* Contacts */
.contacts {
    width: 100%;
}
.contacts div {
    width: 100%;
    overflow: hidden;
    margin: 10px;
}
.contacts div a {
    position: relative;
    float: right;
    right: 0;
}

/* Footer */
footer {
    background-color: #050505;
    border-top: 1px solid #F0F0F0;
    padding: 10px 50px;
}